* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* ------------ Root Selectors -------------------------- */
:root {
    --green-primary: #0c5239;
    --green-TransparentMain: #077b26f5;
    --white-primaty-main: #fff;
    --gray-Transparent: rgb(230, 230, 230);
    --dark-primry: #090909;
    --gray-primary-NoTransparent: rgb(89, 88, 88);
    --blue-primary-main: #220fca;
    --semi-red: #e26482;
    --main-red: #ff0000;
    --dark-graySolid: rgb(210, 210, 210);
}

body {
    font-family: 'Jost', sans-serif;
    background: linear-gradient(rgba(149, 149, 159, 0.3), rgba(118, 118, 156, 0.8)), url(../images/backgroundImage.jpg) no-repeat center center/cover;
    display: grid;
    min-height: 100vh;
    place-content: center;
    opacity: 0.8;
}

.parent {
    background: var(--gray-Transparent);
    text-align: center;
    padding: 20px 45px;
    margin: 10px 15px;
    border-radius: 10px;
    width: 900px;
}
.returnHomeBtn{
    padding: 3px;
    border: none;
    background: transparent;
    position: relative;
    left: -350px;
    bottom: 10px;
}
.returnHomeBtn:hover{
    transition: .5s ease-in;
    transform: translateX(-15px);
    border-bottom: 2px solid var(--semi-red);
}
.returnHomeBtn a{
    color: var(--green-primary);
    font-size: 17px;
    text-decoration: none;
}

.parent small {
    color: var(--main-red);
    font-size: 15px;
}
.parentStudentProfile p, .s-details{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    background: var(--dark-graySolid);
}
.sudentProfile{
    background: var(--white-primaty-main);
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.studentsD{
    margin: 20px 0;
}
.studentDetailsContainer{
    background: var(--white-primaty-main);
    padding: 10px 15px;
        border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
}
#student-avatar{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 10px;
}
.formHeader {
    color: var(--green-primary);
}

.fa-user-graduate {
    font-size: 45px;
    padding: 10px;
}

/* ------------------------- Styling For All inputs Field Container ------------------------ */
.StudentNameField,
.StudentFName,
.StudentLName,
.StudentAgeField,
.DOBfield, .StudentAddressfield,
.appointmentfield,
.PasswordInput, .ImageStudentField, .guardianName, .guardianPhone, .gurdianEmail, .guardianAddress {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

form label {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0;
    text-align: left;
    margin-left: 15px;
}

/* ------------------------- Styling For All inputs  ------------------------ */
#StudentReg,
#Student-F-Name,
#Student-L-Name,
#ageOfStudent,
#DOB, #addressOfStudent,
.StudentImg, #G-Name, #G-PhoneNo, #G-EmailID, #G-Address,
#TeachersPasword, #password-Confirm {
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--dark-primry);
    outline: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    background: transparent;
    color: var(--dark-primry);
}
#TeachersPasword,
#password-Confirm{
   font-weight: bolder;
}
#file-ip-1-preview{
    width: 250px;
    height: 250px;
    margin-left: 34%;
    border-radius: 50%;
    display: none;
}
.ImageStudentField label{
    background: var(--green-primary);
    color: var(--white-primaty-main);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    margin-left: 37%;
    border-radius: 5px;
}
.ImageStudentField label:hover{
    cursor: pointer;
    background: rgb(33, 33, 162);
    transition: .5s ease-in-out;
}
.StudentImg{
    padding: 70px;
    display: none;
}
#StudentReg:hover, 
#Student-F-Name:hover,
#Student-L-Name:hover, #ageOfStudent:hover,
 #addressOfStudent:hover, .StudentImg:hover,
 #G-Name:hover,  #G-PhoneNo:hover, #G-EmailID:hover,
#DOB:hover,  #G-Address:hover,
#TeachersPasword:hover, #password-Confirm:hover {
    cursor: grab;
    transition: all .5s ease-in-out;
    transform: scale(1.0, 1.1);
    border: 1.5px solid var(--green-primary);
}

::placeholder {
    color: var(--gray-primary-NoTransparent);
    font-size: 13px;
    font-weight: lighter;
}

#showPassword,
#HidePassword, #showPasswordConfirm, #HidePasswordConfirm {
    position: relative;
    bottom: 30px;
    width: 100px;
}

#showPassword {
    display: none;
}
#showPasswordConfirm{
    display: none;
}

.SubmitBtn {
    background: var(--blue-primary-main);
    color: var(--white-primaty-main);
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    width: 300px;
    margin-bottom: 15px;
}

.SubmitBtn:hover {
    background: var(--green-primary);
    cursor: pointer;
    transition: .5s ease;
    transform: translateY(-10px);
}

/* Media querry For Mobiles */
@media (min-width: 0px) and (max-width: 750px) {
    * {
        overflow-x: hidden;
    }

    .parent {
        width: auto;
    }
        .returnHomeBtn {
            left: -60px;
            bottom: 5px;
        }
                #file-ip-1-preview {
                    width: 150px;
                    height: 150px;
                    margin-left: 26%;
                }
                .ImageStudentField label{
                    margin-left: 17%;
                }

    .SubmitBtn {
        width: auto;
    }

    #showPassword,
    #HidePassword, #HidePasswordConfirm, #showPasswordConfirm {
        position: relative;
        left: -2px;
        bottom: 30px;
        width: 50px;
    }

    /* #DOB,
    #Appointment {
        width: 250px;
    } */
}

/* Media querry for Ipads */

@media (min-width: 768px) and (max-width: 820px) {
    * {
        overflow-x: hidden;
    }

    .parent {
        width: 500px;
    }
         .returnHomeBtn {
             left: -140px;
             bottom: 5px;
         }
                  #file-ip-1-preview {
                      width: 200px;
                      height: 200px;
                      margin-left: 26%;
                  }
        
                  .ImageStudentField label {
                      margin-left: 27%;
                  }

    .SubmitBtn {
        width: auto;
    }

    #showPassword,
    #HidePassword, #HidePasswordConfirm, #showPasswordConfirm {
        position: relative;
        left: 2px;
        bottom: 30px;
        width: 50px;
    }
}