* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Jost', sans-serif; */
    font-family: sans-serif;
    font-size: small;
}


/* ------------ Root Selectors -------------------------- */
:root {
    --green-primary: #0c5239;
    --green-TransparentMain: #077b26f5;
    --white-primaty-main: #fff;
    --gray-Transparent: rgb(230, 230, 230);
    --dark-primry: #090909;
    --gray-primary-NoTransparent: rgb(89, 88, 88);
    --blue-primary-main: #220fca;
    --semi-red: #e26482;
    --main-red: #ff0000;
    --background_color: #eaf6f6;
    --dark-graySolid: rgb(210, 210, 210);
}
body{
    background: var(--background_color);
}
/* parentContainer */
.parentContainer{
    padding: 0 15px;
    margin: 15px;
}
#logo{
    width: 150px;
    height: 150;
}
/* Styling for the first table date - Student's Personal data */
.table1, .table2, .table3{
    text-transform: uppercase;
}
.table1 th{
    /* padding: 10px; */
    text-align: center;
}
.table1, tr, td {
    border-collapse: collapse;
    border: 1px solid var(--dark-primry);
    padding: 10px;
}

.School-Info{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.school-Details{
    margin-top: 25px;
}
.leftContent{
    display: flex;
        justify-content: space-evenly;
}
.table2, tr, td{
    border-collapse: collapse;
        border: 1px solid var(--dark-primry);
        padding: 10px;
}
.table3, th, td{
    border-collapse: collapse;
        border: 1px solid var(--dark-primry);
        padding: 10px;
}
.table3{
    margin: 10px 0;
}
/* Academic Table */
.academicDetails{
    margin: 25px;
}
.performanceHeading{
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0;
    text-decoration: underline;
}
.termSheetHeading{
    margin: 10px 25px;
}
.Academic_PerformanceTable, tr, th, td{
    border-collapse: collapse;
        border: 1px solid var(--dark-primry);
        padding: 10px;
}
.legend, .rating{
    text-align: center;
}
.legend div, .rating div{
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}
/* Skills Development */
.Skills{
    margin: 50px 5px;
}
.Skills h3{
    margin: 10px 25px;
}
.skillsContainer {
    display: flex;
    justify-content: space-evenly;
}
.PersonalDevTable, tr, th, td, .SocilaDevTable, tr, th, td, .RespTable, tr, th, td, .psychomotorTable, tr, th, td{
    border-collapse: collapse;
        border: 1px solid var(--dark-primry);
        padding: 10px;
}
.ConclusionComments h3{
    text-align: center;
    margin: 20px 0;
}
.ConclusionComments div{
    margin: 15px 5px;
}
/* Media Querry Secrion */
/* For Smaller Screens */
@media screen and (min-width: 0) and (max-width: 750px) {
    .School-Info {
            display: block;
            text-align: center;
        }
                .leftContent {
                    display:  block;
                   margin: 40px 0;
                }
                .attendanceTable{
                    margin: 20px 0;
                }
                /* Academic Table */
                                .mainAcademicTable {
                                    overflow-x: scroll;
                                }
                /* Skills Development */
                .skillsContainer{
                    display: grid;
                    grid-template-columns: 1 auto;
                }
                .skillsContainer div{
                    margin: 15px 0;
                }
}

/* For iPads */
@media screen and (min-width:768px ) and (max-width: 820px) {
    /* Academic Table */
        .mainAcademicTable {
            overflow-x: scroll;
        }
    .skillsContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    
        .skillsContainer div {
            margin: 15px 10px;
        }
}